# Introduction to Pyhton
https://docs.python.org/3/library/index.html

### help()

In [ ]:
# Type help(anything) and you can read documentation on it
help(help)

In [ ]:
help(type)

## Variables
- A variable is a placeholder for some value. Think of it 
like a box where you can put anything you want and
retrieve it later.

In [ ]:
# a, b and name are all variables.
# The = operator assigns a value (any value) to the variable.
a = 3.14
b = 2
name = "Dr. Andrew Ng"
# We can also assign the value of a variable to another variable. c now has the value of a, which is 3.14.
c = a
# And we can overwrite the value of a particular value. The value of a is not 42 instead of 3.14. But c is still 3.14!
a = 42
# The print function will come in handy to check the values of variables.
print("Hello Universe!")
print(a)
print(name)
print(a, b, c)

In [ ]:
help(print)

## Input/Output
- Interacting with the outside
    - Terminal
        - print: send values to user
        - input: reveice values from user
    - Files
    - Networking
    - GUI's
    - Pipes

### print/input

In [ ]:
print("Type your first and last name:")
name = input()
age = input("Type your age:")
print(name, "é um velho com", age)

### Basic Types 
- https://docs.python.org/3/library/stdtypes.html
- Basic Types: Conversion
    - Numeric: Rounding / Operations
        - Integers
        - Floats
    - Strings: Operations / f formated strings

### type()
- The type() function in Python is used to get the type of an object

In [ ]:
# Numeric float
a = 3.14
type(a)

In [ ]:
# Numeric int
b = 2
type(b)

In [ ]:
# Sting - used to encode text
name = "Dr. Andrew Ng"
type(name)

In [ ]:
# List
contagem = [1, 2, 3]
type(contagem)

In [ ]:
# Bolean encondes a True or False value
b1 = True
b2 = False
type(b2)

In [ ]:
# A dictionary is a collection of key-value pairs where each key is unique and associated with a specific value
frutas = {"apple": 3, "banana": 2}
type(frutas)

In [ ]:
# A set is a collection of unique and unordered elements
conjunto = {3, 2, 5, 3}
type(conjunto)

In [ ]:
print(conjunto)

In [ ]:
type(lambda x: x*2)

In [ ]:
import math
type(math)

In [ ]:
class MyClass:
    pass

obj = MyClass()
type(obj)

In [ ]:
# Creating a range object representing a sequence of numbers from 0 to 9
seq = range(10)

# Iterating over the numbers in the range object
for num in seq:
    print(num)
type(seq)

### Numeric types: int & float
- Operations: + - * (**) / // % 
- Conversion

In [ ]:
sum = 2+3+2
print(sum)

In [ ]:
subtraction = 7-3
print(subtraction)

In [ ]:
total = (2**3)*2
print(total)

In [ ]:
division = 3/2
print(division)

In [ ]:
whole_division_1 = 3//1
whole_division_2 = 3//2
whole_division_3 = 3//3
whole_division_4 = 3//4
print(whole_division_1)
print(whole_division_2)
print(whole_division_3)
print(whole_division_4)

In [ ]:
remainder = 3%4
print(remainder)

### Conversions

In [ ]:
# int(): Converte um valor para um inteiro
valor_float = 3.14
int_converted = int(valor_float)
print(int_converted)  # Output: 3

In [ ]:
type(valor_float)

In [ ]:
type(int_converted)

In [ ]:
# float(): Converte um valor para um número de ponto flutuante
valor_str = "3.14"
float_converted = float(valor_str)
print(float_converted)  # Output: 3.14

In [ ]:
type(valor_str)

In [ ]:
type(float_converted)

In [ ]:
# str(): Converts a value to a string
value_int = 123
str_converted = str(value_int)
print(str_converted)  # Output: "123"

In [ ]:
type(value_int)

In [ ]:
type(str_converted)

In [ ]:
# list(): Converte um iterável para uma lista
iteravel_tuple = (1, 2, 3)
lista_convertida = list(iteravel_tuple)
print(lista_convertida)  # Output: [1, 2, 3]

In [ ]:
type(iteravel_tuple)

In [ ]:
type(lista_convertida)

In [ ]:
# tuple(): Converts an iterable to a tuple
iterable_list = [1, 2, 3]
tuple_converted = tuple(iterable_list)
print(tuple_converted)  # Output: (1, 2, 3)

In [ ]:
type(iterable_list)

In [ ]:
type(tuple_converted)

In [ ]:
# set(): Converts an iterable to a set (removing duplicates)
iterable_set = [1, 2, 2, 3]
set_converted = set(iterable_set)
print(set_converted)  # Output: {1, 2, 3}

In [ ]:
type(iterable_set)

In [ ]:
type(set_converted)

In [ ]:
# dict(): Creates a dictionary from a sequence of key-value pairs
key_value_pairs = [('a', 1), ('b', 2)]
dict_converted = dict(key_value_pairs)
print(dict_converted)  # Output: {'a': 1, 'b': 2}

In [ ]:
type(key_value_pairs)

In [ ]:
type(dict_converted)

### Sting
- Sting methods
    - https://docs.python.org/3/library/stdtypes.html#string-methods
- Formated strings
- Conversion

In [ ]:
#Concatenation with multiplication
#.strip() removes extra whitespace at the beginning and end of the string
athlete_name = (("Roger" + " " + "Federer" + " ") * 2).strip()
print(athlete_name)

In [ ]:
# .strip(), .lower() and .upper() are string methods
lower_name = ("Roger" + " " + "Federer").lower()
upper_name = ("Roger" + " " + "Federer").upper()
print(lower_name)
print(upper_name)

### EXERCISE - Evolution of investment depending on political party
- The investment varies depending on which party you lead: the Bears, Cats, Dogs.
- Dogs the rate is 2.5%
- Cats the rate is 2.6%
- Bears the rate is 100%
- Others the rate is 1%

|Party|Rate|
|-----|----|
|Dogs|2.5|
|Cats|2.6|
|Bears|100|
|Others|1|

In [ ]:
# instructions:
# receive the initial investment value
initial_value = float(input("Initial investment value:"))

# receive which party formed the government
party = input("Party in government:")
party = party.lower()
# assign corresponding rate for that party
if party == "dogs":
  rate = 2.5
elif party == "cats":
  rate = 2.6
elif party == "bears":
  rate = 100
else:
  rate = 1

# normalize rate
rate /= 100

# the value after 1 year
year_1_value = initial_value + initial_value * rate
print(f"Value after 1 year: {year_1_value}")
# the value after 2 years
year_2_value = year_1_value * (1 + rate)
print(f"Value after 2 years: {year_2_value}")
# the value after 3 years
year_3_value = year_2_value * (1 + rate)
print(f"Value after 3 years: {year_3_value}")  # f means format, is the same
print("Value after 3 years: {}".format(year_3_value))
print("Value after 3 years: %f" % year_3_value)  # Three methods of accomplishing this

This code is too repetitive and tiresome; it needs to be reviewed and done in cycles

### Making Decisions: Condicionals - if, elif & else
    - A program has very limited functionality if it's not able to make decisions.
    - Conditionals enable us to execute a portion of code based on some decision.
    - In Python, we state conditionals with the if statement.
    - Comparison operator (==)
    - BOOLEAN LOGIC
        - and, or, not
        - & | ~

In [ ]:
battery_pct = float(input("% of battery: "))
fuel_pct = float(input("% of fuel: "))
if battery_pct >= 5:
    if fuel_pct <= 10:
        action = "Refuel"
    elif 10 < fuel_pct <= 30:
        action = "Short Trip"
    elif 30 < fuel_pct <= 75:
        action = "Normal Trip"
    else:
        action = "Long Trip"
else:
    action = "Charge the Battery"

print(action)

This is generally not good practice, it would be better to decompose this into different functions and make it more readable.

### BOOLEAN LOGIC: and or not

In [ ]:
# Checks if a number is between 10 and 20, or is less than 5 and not equal to 0
number = int(input("Enter the number: "))
if (number >= 10 and number <= 20) or (number < 5 and number != 0):
    print("The number is within the desired range or is less than 5 and not equal to zero.")
else:
    print("The number does not satisfy the desired conditions.")

# Checks if a number is between 10 and 20, or is less than 5 and not equal to 0, using the not operator
number = int(input("Enter the number: "))
if not ((number < 10 or number > 20) and (number >= 5 or number == 0)):
    print("The number is within the desired range or is less than 5 and not equal to zero.")
else:
    print("The number does not satisfy the desired conditions.")

### Installing Packages - pip install packages
- 
The exclamation point (!) is used in some command-line interfaces, such as Jupyter Notebook and Google Colab, to indicate that the command should be executed in the operating system rather than interpreted as Python code. In environments like these, terminal commands start with an exclamation point to differentiate them from Python codes

In [ ]:
# Installing Pandas
!pip install pandas

https://pandas.pydata.org/docs/

In [ ]:
# Importing packages
# It's common practice to import Pandas with an alias
import pandas as pd
# Reading the Excel file directly into a DataFrame
df = pd.read_excel(r"C:\Users\Miguel Caldeira\Documents\GitHub\Data-Science-Projects\Postgrad_AI_ML\Python_Introduction\Book1.xlsx")
df

### Boolean Logic: & | ~

In [ ]:
# Creating a mask using boolean logic
mask = (df['age'] > 25) & (df['height'] < 175)  # Using '&' condition
df[mask]

In [ ]:
mask_2 = (df["age"] < 30) & ((df["height"] >= 175) | (df["height"] <= 170))
df[mask_2]

In [ ]:
# Using 'not' condition
mask_not = ~(df['name'].str.startswith('D'))
df[mask_not]

In [ ]:
df["age"] > 26

In [ ]:
a_up26 = df["age"] > 26
df[a_up26]

In [ ]:
df["height"] > 170

In [ ]:
h_up170 = df["height"] > 170
df[h_up170]

In [ ]:
(df["age"] > 26) & (df["height"] < 170)

In [ ]:
a_up26_h_low170 = (df["age"] > 26) & (df["height"] < 170)
df[a_up26_h_low170]

# Lists and Tuples
- Data structures
- So far we've stored only single values in variables
- Python's list allows us to store multiple values

In [ ]:
# Create Empty List
l1 = list()
l2 = []
# Create list with content
lst_ints = [1,2,3,4,5]
lst_floats = [3.14, 9.8, 6.64e-34]
lst_str = ["cobra", "anaconda", "python"]
lst_mixed = [1, 3.14, "cobra"]
# Size of the list len() function # and many other data structures
len(lst_ints)

In [ ]:
# Adding Elements
# Like strings, lists have several methods that help with their interaction.
lst_floats = [3.14, 9.8, 6.64e-34]
lst_floats.append(1.61) # add golden ratio
lst_floats += [2.7] # add euler's constant, less efficient
print(lst_floats) # -> [3.14, 9.8, 6.64e-34, 1.61, 2.7]

In [ ]:
# Lists support the + operator: the list on the right is concatenated to the list on the left
lst_floats = lst_floats + [2.7]
print(lst_floats)

In [ ]:
# We can also add elements at specific positions with the .insert method
# add the double of pi at index 0
lst_floats.insert(0, 3.14*2)
print(lst_floats)

### Slicing

In [ ]:
# GETTING AN ELEMENT
# List indeces are 0-based.
l = [1,2,3,4,5,6]

In [ ]:
l[0] # gives the 1st element -> 1

In [ ]:
l[1] # gives the 2nd element -> 2

In [ ]:
l[-1] # gives the last element -> 6

In [ ]:
l[-2] # gives the second last element -> 5

In [ ]:
# SLICING
# We may get a slice of the list
l = [1,2,3,4,5,6]
l[0:3] # returns a list with all elements
# from the 1st to the 3rd elements
# The second index is not included in the slice

### Slicing Rules
- list[A:B] or list [A:B:C]
- A is the starting index of the slice
    - if not supplied, it's assumed to be the beginning
- B is the last index of the slice, but is not included
    - if not supplied, it's assumed to be the end
- C is the jump between consecutive elements
    - if not supplied, it's assumed to be 1
    - if it is negative, we get elements in the reverse order

SLICING EXAMPLES

In [ ]:
l[0:3] # returns a list with all elements starting
# on index 0 and ending on 2 -> [1,2,3]

In [ ]:
l[0:1] # returns a list with just the 1st element -> [1]

In [ ]:
l[1:1] # returns an empty list -> []

In [ ]:
l[:] # returns all elements of the list -> [1,2,3,4,5,6]

In [ ]:
l[:-2] # returns all elements except the last 2 -> [1,2,3,4]

In [ ]:
l[-3:-1] # all elements starting on the 3rd last position
# and finishing on the 2nd last -> [4,5]

In [ ]:
l[-3:] # all elements from the 3rd last onwards -> [4,5,6]

In [ ]:
l[::2] # every other element, starting on index 0 -> [1,3,5]

In [ ]:
l[1::2] # every other element, starting on index 1 -> [2,4,6]

In [ ]:
l[1::3] # every 3rd element, starting on index 1 -> [2,5]

In [ ]:
l[::-1] # all elements in reverse order -> [6,5,4,3,2,1]

In [ ]:
l[::-2] # every other element in reverse order -> [6,4,2]

In [ ]:
l[4:0:-1] # all elements from the 5th to the 2st in reverse -> [5,4,3,2]

In [ ]:
l[-2:0:-1] # all elements from the 2th last to the 1st in reverse -> [5,4,3,2]

REMOVING AN ELEMENT

In [ ]:
# The remove method deletes a given value from the list.
# If it exists more than once in the list, the 1st occurrence is removed.
# lst_floats.remove(9.8) # removes the value

In [ ]:
# CONCATENATE 2 LISTS
lx = [2, 25]
lx.extend(lst_floats)
lx += lst_floats
print(lx)

In [ ]:
# Counting
lx.count(2.7)

In [ ]:
# Check Existence
if 3.14 in lx:
    print("We have a Pi")
# The in operator checks if thee value on the left exists inside the data structure on the right

In [ ]:
# .index
pi_pos = lx.index(3.14)
print(f"I found Pi at index {pi_pos}")
# The .index method returns the position where the given value is in the list.
# If the value is not in the list, a ValueError is thrown (like .remove()).

OTHER METHODS

In [ ]:
lz = [1, 25, 14, 75, 15, 96, 75]
lz.reverse()
print(lz)

In [ ]:
lz = lz[::-1] # equivalent to l.reverse()
print(lz)

In [ ]:
lz.sort() # sorts all values
print(lz)

In [ ]:
lz.pop(0) # removes and returns the element at index 0

In [ ]:
lz.pop() # removes and returns the last element

### TUPLE
- A tuple works exactly like a list, but doesn't support assignment
- It is an imutable data structure
- We cannot change its value after creation

In [ ]:
t = (1,2,3,4)
t[0] # -> 1
# t[0] = 7 -> TypeError: 'tuple' object does not support item assignment

In [ ]:
# Slicing and concatenation work as in lists
t = (1,2,3,4)
t[:-1] # -> (1,2,3)

In [ ]:
t + (5,6) # -> (1,2,3,4,5,6)

TUPLE <-> LIST

In [ ]:
# Tuple to List
l = list(t)
print(l)

In [ ]:
# List to Tuple
t2 = tuple([5,6,7,8])
print(t2)

### Unpacking Lists and Tuples
- Very important in functions in Python to return tuples with multiple values.

In [ ]:
# Unpacking with tuples
t = (1,2,3)
a,b,c = t # now a=1, b=2, c=3
print(a)

In [ ]:
# Unpacking with lists
l = [4,5,6]
a,b,c = l # a=4, b=5, c=6
print(c)

In [ ]:
# Unpacking lists with many values into variables
l=[1,2,3,4,5,6]
a,b,*nums = l # a=1, b=2, nums=[3,4,5,6]
print(nums)

### Loops: while, for
- As long as this is true, print this, otherwise print this.
- If we want to perform the cycle 10 times, we are iterating 10 times.
- At each iteration we will check the status.
- What is being used fot the condition must change, otherwise we might have an infinite loop.

In [ ]:
is_coffee_ready = False
while is_coffee_ready != True:
    print("continue groggy")
    is_coffee_ready = check_coffee_status()
    # This would be an iteration that would communicate with the coffee machine
    # At some point the coffee will be ready and we exit the cycle.

In [ ]:
# Define a list - Fibonacci numbers
lf = [1, 2, 3, 5, 8, 13]

# Initialize variables for total sum and list index
total, i = 0, 0

# Iterate through the list until the end is reached
while i < len(lf):
    # Add the current element to the total sum
    total += lf[i]
    # Move to the next element in the list
    i += 1

# Print the final sum of all elements in the list
print(total)

# Actually, Python has the sum function, so don't do that

In [ ]:
# Actually, Python has the sum function, so don't do that
total = sum(lf)
print(total)

- Initialize variables for total sum and list index
    - total, i = 0, 0
- É igual:
    - total = 0
    - i = 0

- We had to declare a variable just for increasing the position of the list element, but we also have the for loop wich makes this kind of logic easier.

In [ ]:
# Define a list - Fibonacci numbers
lf = [1, 2, 3, 5, 8, 13]

# Initialize a variable named total to store the sum of elements
total = 0

# Iterate over the indices of the list 'l' using the range function
for i in range(len(lf)):
    # Access each element of the list using its index and add it to the 'total'
    total += lf[i]

# Print the final total sum
print(total)

# Here the range funcion returns a list from 0 to thee size of the list lf [0, 1, 2, 3, 4, 5]

In [ ]:
movies = ["Matrix", "Dune", "Terminator"]
total = 0
for i in range(len(movies)):
    print(f"movie={movies[i]}")

### Range

- Actually, range() returns an iterable that goes from a number to another higher number.
- We can convert this iterable to a list easily
- But we don't have to do it in the context of the loop.

In [ ]:
list(range(3)) # -> [0,1,2]

In [ ]:
list(range(2,6)) # -> [2,3,4,5]

In [ ]:
list(range(0,10,2)) # -> [0,2,4,6,8]

In [ ]:
list(range(10,0,-2)) # -> [10,8,6,4,2]

In [ ]:
range(5)

In [ ]:
list(range(5))

In [ ]:
list(range(2,5))

In [ ]:
list(range(2,50, 5))

- What is an iterable?
    - a
- What is an iteration?
    - a

In [ ]:
for movie in movies:
  print(movie)

### Enumerate
- Let's now say we given a list of phrases and want to print the position of the phrases that include the word "Python".

In [ ]:
phrases = [
"The last patient was bitten by a Python.",
"The number of bites of last year is the highest ever.",
"The number of Pythons in the wild must have increased.",
"We must implement some policy to help us."
]

In [ ]:
# One way to solve this would be to use the range() function
for i in range(len(phrases)):
    if "Python" in phrases[i]:
        print(i)

In [ ]:
for phrase in phrases:
    if "Python" in phrase:
        print(phrase)

In [ ]:
# The enumerate funcion can help us here:
for i, phrase in enumerate(phrases):
    if "Python" in phrases[i]:
        print(i)
# Enumerate receives a list and returns a list of tuples
# - 1st element of each tuple is the index of each value
# - 2nd element is the value on that position

In [ ]:
for x in enumerate(phrases):
    print(x)
# Each iteration is returning a tuple with the position of the element and the element itself.

In [ ]:
lc = [2,4,6,8]
list(enumerate(lc)) # -> [(0,2), (1,4), (2,6), (3,8)]
# Actually, enumerate returns an iterable
# That's why we convert it to a list in the above example
# It also can receive any iterable, not just a list

In [ ]:
# Enumerate can also start on any number we want
list(enumerate(lc, start=-1)) # -> [(-1,2), (0,4), (1,6), (2,8)]

### Zip

In [ ]:
# Let's now say we have a list of names and ages and want to print them.
names = ["Saramago", "Pessoa", "Camões"]
ages = [87, 47, 56]
# Using what we know, we can implement it like this:
for i in range(len(names)):
    print(f"The writer {names[i]} died with {ages[i]} years.")

In [ ]:
# But the zip function can simplify this,
for name, age in zip(names, ages):
    print(f"The writer {name} died with {age} years.")

In [ ]:
# Zip receives 2 or more lists and creates a new list where each element is a tuple with the values of the original 2 lists
names = ["Saramago", "Pessoa", "Camões"]
ages = [87, 47, 56]
print(list(zip(names, ages)))

In [ ]:
le = ["a", "b", "c"]
lg = [0, 1, 2]
list(zip(lg, le))

In [ ]:
le = ["a", "b", "c"]
lg = range(len(le))
list(zip(lg, le))

In [ ]:
for i, ch in zip(le, lg):
   print(i, ch)

In [ ]:
for i, ch in enumerate(le):
    print(i, ch)

- Zip, like enumerate, actually returns an iterable that's why we converted it to a list before printing.
- Zip can receive any iterable, not just lists.
- Zip can receive any number of iterables as input
- When the size os the input iterables is different, zip will return as iterable with the size of the shorter input.

## Comprehensions

### List Comprehensions
- Let's say we would like to create a list with all even numbers from 0 to 99, that are not divisible by 4.

In [ ]:
# A possible implementation would be:
ld = []
for i in range(100):
    if i % 2 == 0 and i % 4 != 0:
        ld.append(i)
        print(ld)

In [ ]:
# List comprehensions are a way to concisely create lists.
ld = [i for i in range(100) if i % 2 == 0 and i % 4 != 0]
print(ld)

# Exercise with loops and lists:

### POLITICS AND INVESTMENTS
- A country will have elections. There are 8 parties.
- The winning party will govern for 8 years.
- The party's policies will influence ROI over some type of investments.
- Each party has a base ROI (float).
- For each party, do a simulation for the volution of an investment of 1000€ over 8 years.
- Print the party with the highest ROI in the 8th year, along with the full evolution for that party.
### TIPS
- The value in each year (including the initial value)
must be stored.
    - How will you store this data?
    - A list for each party?
    - A list for each year? Somethine else?
- You need to iterate over the years for each party, or vice versa. That's a loop inside a loop.
- You need to keep track of the investment for each party.
### POLITICS AND INVESTMENTS II
- Each party may make the ROI more or less volatile.
- The volatility is given by a list of 8 floats.
- The volatility is the standard deviation of the ROI.
- For each year, the ROI is a random number with a normal distribution with the mean given by the ROI of the previous year and the standard deviation given by the volatility.
- Recompute investment for each party.

In [ ]:
parties = ["PS", "PSD", "BE", "PCP", "L", "PAN", "IL", "CH"]
rois = [0.02, 0.03, 0.005, 0.0005, 0.02, 0.01, 0.05, 0.1]
investment = 1000

sims = [[investment] for party in parties ]

for year in range(8):
    for i, party in enumerate(parties):
        party_roi = rois[i]
        new_value = sims[i][-1] * (1 + party_roi)
        sims[i].append(new_value)

sims

In [ ]:
year8 = [sim[-1] for sim in sims]
year8

In [ ]:
max_invest = max(year8)
max_invest

In [ ]:
max_invest_ind = year8.index(max_invest)
max_invest_ind

In [ ]:
parties[max_invest_ind]

### TIPS
- Compute mean, standard deviation and percentiles with numpy.

In [ ]:
import numpy as np
l = [1,2,3,4,5]
np.mean(l) # -> mean

In [ ]:
np.std(l) # -> standard deviation

In [ ]:
np.percentile(l, 25) # -> 25% percentile

### Dictionaries

- A dictionary (dict) is like a key/value database.
- We can store any value we want and connect it ti a key, which we will use to retrieve it.

In [ ]:
authors = {} # empty dict
authors = dict() # empty dict
authors = {"Saramago": 87}
country_codes = {351: "Portugal"}
# The types of both keys and values can be anything.

In [ ]:
# We can initialize a dict with many values.
authors = {
"Saramago": 87,
"Pessoa": 47,
"Camões": 56
}

In [ ]:
# We can initialize a dict from a list of 2 element tuples.
authors_lst = [("Saramago", 87), ("Pessoa", 47), ("Camões", 56)]
authors = dict(authors_lst)

In [ ]:
# Actually, we can initialize it from an interable, so we could have done something like this
names = ["Saramago", "Pessoa", "Camões"]
ages = [87, 47, 56]
authors = dict(zip(names, ages))

In [ ]:
# We can have nested dicts too:
authors = {
"Saramago": {"died_at": 87, "first_name": "José"},
"Pessoa": {"died_at": 47, "first_name": "Fernando"},
"Camões": {"died_at": 56, "first_name": "Luís"},
}

- GETTING A VALUE

In [ ]:
authors["Saramago"]

In [ ]:
authors.get("Saramago")

In [ ]:
authors["Asimov"] # KeyError: 'Asimov'

In [ ]:
authors.get("Asimov") # -> None

- INSERTING A VALUE

In [ ]:
authors["Vieira"] = 89
authors["Queirós"] = 54
print(authors)

- REMOVING A VALUE

In [ ]:
authors.pop("Vieira") # removes key "Vieira" and returns its valu
print(authors)

- USEFUL METHODS

In [ ]:
list(authors) # returns list of keys
list(authors.keys()) # same thing
list(authors.values()) # list of dict's values
list(authors.items()) # list of (key, value) tuples

### DICTS AND LOOPS

In [ ]:
# Print the age at which author died:
for k in authors:
    print(f"{k} died at age {authors[k]}")

In [ ]:
for k in authors:
    print(f"{k} died at age {authors[k]}")

In [ ]:
for k,v in authors.items():
    print(f"{k} died at age {v}")

In [ ]:
for i, (k,v) in enumerate(authors.items()):
    print(f"author #{i}: {k} died at age {v}")

### Dict Comprehensions

- Create a dictionaty with the authors that have the letter 'e' on their name.

In [ ]:
authors_e = {name: age \
             for name, age in zip(names, ages) \
             if "e" in name}
# \ allows breaking a long instruction into several lines

# FUNCTIONS
- How to reuse the same logic for different things?
- We can think of a function as a black box that receives inputs and gives outputs.
- What function we see before?
    - enumerate(), zip(), range(), int(), float(), str()
- We define a function with the def keyword
- Followed by the name of the function
- Inside the () we write the names os the inputs the function should receive.

In [ ]:
def sum_2(a):
    b = a + 2
    return b
print(sum_2(6))

- The function exists when it reaches the end of the instructions or when the instruction return is used.

In [ ]:
input_value = int(input("Enter a number: "))

def sum_2(a):
    b = a + 2
    return a, b
# Return can receive multiple values
# Which means the function will output multiple values
# When we return multiple values like this a, b, we're returning a tuple
# To use the function, you need to call it with an argument
print(sum_2(input_value))

### VARIABLE SCOPE

In [ ]:
def sum_2(a):
    b = a + 2
    print(x) # -> 3
    return b
print(sum_2(x)) # -> 5
print(x) # -> 3
# print(a) # -> NameError: name 'a' is not defined

- a and b exist only inside function sum_2.
- But x exists outside the function too.
- x is unchandeg by calling sum_2.
- a and b are said to be local variables, within the SCOPE OF THE FUNCTION.
- x is a GLOBAL VARIABLE, because it exists outside any scope within our program.

In [ ]:
x = 3
def sum_2(a):
    b = a + 2
    x = 4
    print(x) # -> 4
    return b

print(sum_2(x)) # -> 5
print(x) # -> 3

- Now we-re writing to x inside the function.
- But x=4 inside the function creates a new LOCAL VARIABLE x with the same name as the GLOBAL VARIABLE x.
- Every use of x inside the function expects a variable named x within the SCOPE OF THAT FUNCTION.

In [ ]:
x = 3
def sum_2(a):
    global x
    b = a + 2
    x = 4
    print(x) # -> 4
    return b

print(sum_2(x)) # -> 5
print(x) # -> 4

- If we wanted to change (and not only read) the global variable, we need to declare it.
- All global variables are stored inside a dictionary that can be accessed bt calling globals().

x = 3
def sum_2(a):
    b = a + 2
    print(x) # now print is before the assignment
    x = 4
    return b

print(sum_2(x)) # -> 5

4 b = a + 2
----> 5 print(x) # now print is before the assignment
6 x = 4
7 return b
UnboundLocalError: local variable 'x' referenced before assignment

### FUNCTIONS: FIRST-CLASS CITIZENS
- In Python, functions are considered first-class citizens, which means they can be treated like any other variable. You can assign functions to variables, pass them as arguments to other functions, return them from functions, and store them in data structures like lists and dictionaries.

In [ ]:
def sum_3(a):
    b = a + 3
    return b

a_minha_funcao = sum_3
type(a_minha_funcao)

In [ ]:
a_minha_funcao(3)

In [ ]:
lista = [sum_3, a_minha_funcao]
lista[0](2)

- We may also pass a function as an argument to another function.

In [ ]:
def apply_function(func, arg):
    y = func(arg)
    return y
    
apply_function(sum_2, 2) # -> 4

In [ ]:
def logged_function(func, arg):
    print("function as called with arg:", arg)
    y = func(arg)
    return y

def create_logged_function(func):
    def new_func(arg):
        print("function as called with arg:", arg)
        y = func(arg)
        return y
    return new_func
    
logged_function(sum_3, 2)

Functions that will give functions

In [ ]:
logged_sum_3 = create_logged_function(sum_3)
logged_sum_3(2)

LAMBDA

- There is a shortcut for defining short and cimple functions:

In [ ]:
f = lambda a: a + 2
f(2) # -> 4

In [ ]:
g = lambda a,b: a+b**2
g(2,3) # -> 11

- We write lambda follower by the arguments we want to receive.
- After the :, we write the expression that will be return (no need to write return).
- Why is this useful? Because we can pass custom operations to other functions and apply them elsewhere.
- We can also import other functions and apply them in our codebase.
- Let's look at 2 particularly useful example of using functions in this way.

In [ ]:
to_lower = lambda s: s.lower()
to_lower("Hello This Is A tEst")

# MAP

- Let's suppose we have a list of prices:

In [ ]:
prices = [1.92, 46.4, 30.56, 11.63, 8.35,
          6.32, 28.21, 8.21, 12.86, 6.95]

- These prices will suffer an update of 4.5%. How can we update them?

- With what we've learned so far, we could write a loop.

In [ ]:
new_prices = []
percent = 4.5
for p in prices:
    new_prices.append(p * (1 + percent/100))
print(new_prices)

- We can also use map, which applies a function to all elements of an interable (e.g. list).

In [ ]:
percent = 4.5
def update(price):
    return price * (1 + percent/100)
    
new_prices = list(map(update, prices))
print(new_prices)

- Or use lambda...

In [ ]:
percent = 4.5
new_prices = list(map(lambda p: p * (1 + percent / 100), prices))
print(new_prices)

In [ ]:
rounded_prices = [round(price, 2) for price in new_prices]
print(rounded_prices)

- Keep your lambdas short. !!!
- If you have complex logic, transfer it to a "normal" function where the logic will be clearer.

- Why are we converting the result of a map to a list?
- map actually returns an iterable, not a list (like zip and enumerate)

In [11]: map(lambda p: p * (1 + percent / 100), prices)
Out[11]: <map at 0x15a9b31cb80>

- And it can also receive any iterable (tuple, dict, ...), not just a list.

authors = dict(zip(names, ages))
output = list(map(lambda n, a: f"Author {n} died at age {a}.",
authors.items()))

# equivalent to
output = [f"Author {n} died at age {a}." for n,a in authors.items()]

- Are you really going to use this?
- Often people don't directly use Python's default mao, but map is often implemented in other data structures, such as...

df = pandas.read_excel("prices.xlsx")

In [45]: df.head()
Out[45]:
prices category
0 22.25 vegetables
1 10.22 vegetables
2 2.19 vegetables
3 14.63 pets
4 31.21 fruit

In [46]: df.shape
Out[46]: (50, 2)

df["new_prices"] = df["prices"].map(lambda p: p * 1.045)

In [51]: df.head()
Out[51]:
prices category new_prices
0 22.25 vegetables 23.25125
1 10.22 vegetables 10.67990
2 2.19 vegetables 2.28855
3 14.63 pets 15.28835
4 31.21 fruit 32.61445

In [52]: df.shape
shape

# FILTER
- Filter works like map but instead of applying a function ti every value, we're picking which values we want to keep.
- Because we're choosing which values to keep, the function that we give to filter must return a bool (True or False).

In [ ]:
prices = [9.56, 23.82, 17.39, 5.11, 8.28]
categories = ['fruit', 'hygiene', 'fruit', 'vegetables', 'vegetables']
              
vegetables_prices = [p for p,c in zip(prices, categories) \
              if c == 'vegetables']

print(vegetables_prices)

In [ ]:
vegetables_prices = list(filter(lambda pc: pc[1] == 'vegetables', zip(prices, categories)))
print(vegetables_prices)

- Will you use this?
- Probably not! In Pandas, we actually filter in different ways, like:

df = pandas.read_excel("prices.xlsx")
vegetables = df[df["category"] == "vegetable"]

In [61]: vegetables.head()
Out[61]:
prices category new_prices
0 22.25 vegetables 23.25125
1 10.22 vegetables 10.67990
2 2.19 vegetables 2.28855
13 1.59 vegetables 1.66155
22 14.17 vegetables 14.80765

In [62]: vegetables.shape
Out[62]: (13, 3)

In [46]: df.shape
Out[46]: (50, 2)

- Why does that work?
- When we compare the column "category" with the value "vegetables", we get another column of the same size indicating where that comparison was True or False.

In [64]: df["category"] == "vegetables"
Out[64]:
0 True
1 True
2 True
3 False
4 False
5 False

- This column is the mask that will select the rows of the
original dataframe where the comparison is True.

# MODULES - EXTERNAL CODE
- In Python, we can create our own modules to store
code and import that code to other programs
- Why do this? Reusability and modularity..

In [4]:
# Importing the sim module (files are in the same project folder)
import sim

sim.investment_simulator(10, 1000, 0.02)

[1000,
 1020.0,
 1040.4,
 1061.208,
 1082.43216,
 1104.0808032,
 1126.162419264,
 1148.68566764928,
 1171.6593810022657,
 1195.092568622311,
 1218.9944199947574]

In [5]:
# Importing the sim module from the ml package (folder ml)
import ml.sim as sim

sim.investment_simulator(10, 1000, 0.03)

[1000,
 1030.0,
 1060.9,
 1092.727,
 1125.50881,
 1159.2740743000002,
 1194.0522965290002,
 1229.8738654248702,
 1266.7700813876163,
 1304.7731838292448,
 1343.916379344122]

In [6]:
# Importing the sim module from the ml.predictions subpackage (folder predictions inside ml)
import ml.predictions.sim as sim
import ml.config as config

sim.investment_simulator(10, 1000, 0.05)

[1000,
 1050.0,
 1102.5,
 1157.625,
 1215.5062500000001,
 1276.2815625000003,
 1340.0956406250004,
 1407.1004226562504,
 1477.455443789063,
 1551.3282159785163,
 1628.8946267774422]

In [7]:
# Importing the sim module from the ml.predictions subpackage (folder predictions inside ml)
import ml.predictions.sim as sim
import ml.config as config

investment = 1000

sims = []

for i, party in enumerate(config.parties):
    party_roi = config.rois[i]
    party_sim = sim.investment_simulator(8, investment, party_roi)
    sims.append(party_sim)

year8 = [sim[-1] for sim in sims]
year8

max_invest = max(year8)
max_invest

max_invest_ind = year8.index(max_invest)
max_invest_ind


config.parties[max_invest_ind]

'CH'

In [8]:
# The __init__ function is my constructor, the initializer of this class.
class NewClass:
    def __init__(self, test):
        print(test)

In [9]:
NewClass("isto é um teste")

isto é um teste

# FILES
- OPEN, CLOSE, WITH, READ, WRITE, PATHLIB

TEXT
- open, read, write, close
- modes r, w, a
- context manager
- pathlib, swiss army knife for files

OPEN

There are 3 ways of opening a file:
- "r" for reading only, the file must exist exist
- "w" for writing, creates the file if it doesn't exist or overwrites, starts writing at the beginning
- "a" same as "w", but starts writing at the end
- If a mode is not spe􀀁cied when opening a file, the default is "r". That is why we got an error.

In [ ]:
f = open("test_file.txt") # open a file

In [ ]:
f = open("test_file.txt", "w") # open a file in write mode
f.write("line 1\n") # \n write a newline sequence to the file
f.write("line 2\n")
f.close() # we must close the file for the changes to take effect

line 1
line 2

- We can add a "+" modi􀀁er to any mode, and it allows the modes to both read and write.
- "r+" still doesn't create a file if it doesn't exist though.
- It's easier to forget closing files, specially when there are many operations between opening and closing.
- The recommended way of opening and closing files is to use a context manager.
- When we use with, the 􀀁le is automatically closed when the block of instructions inside with is 􀀁nished.

In [ ]:
with open("test_file.txt", "r") as f:
    data = f.read()
print(data)

BINARY

- Binary 􀀁les store data in a format that is not human readably.
- They're very useful to store numeric data because we can 􀀁t more numbers within the same memory space.
- To use 􀀁les in binary mode, we simply add a "b" to the modes we've already seen so far.
- They will also be useful to store trained models to be deployed or used by other people.
- In Python, we can store almost any object in a binary format with the pickle module.

In [ ]:
with open("test.pkl", "rb") as f:
    data = f.read()
print(data)

In [ ]:
test_dict = {x: y for x, y in zip(range(5), range(100, 105))}
print(test_dict)

STORE AN OBJECT WITH PICKLE

In [ ]:
import pickle
with open("test.pkl", "wb") as f:
    pickle.dump(test_dict, f)

LOAD AN OBJECT FROM A PICKLE FILE

In [ ]:
with open("test.pkl", "rb") as f:
    loaded_dict = pickle.load(f)
print(loaded_dict)

PATHLIB

- I recommend the use of the pathlib library anytime you need to deal with files.
- It makes working with 􀀁les much easier, since there are things that change when our code executes in Windows, MacOS, Linux, etc.
- By using pathlib, many of these differences are abstracted away.
- We also have many utilities that make life easier.

CREATE A PATH

- Path is the main object to use, and it provides many methods streamline file operations.

In [ ]:
from pathlib import Path
test_path = Path("test_file.txt")
test_path.exists() # returns True if the file exists

OPEN, WRITE, READ

In [ ]:
from pathlib import Path
test_path = Path("test_file.txt")

# Open the file in append mode ("a") to write to it
with test_path.open("a") as f:
    f.write("line 3\n")

# Open the file in read mode ("r") to read from it
with test_path.open("r") as f:
    data = f.readlines()

print(data)

- .readlines() is a new method, that reads the whole 􀀁le and splits the content by lines in a list.

In [ ]:
print(test_path.read_text())

In [ ]:
# we can't pass a mode to .write_text
test_path.write_text("overwrites everything")
print(test_path.read_text())

- They also work with paths that are directories and it becomes easier to list all files inside.

In [ ]:
p = Path("Code")
p.is_dir()

- List all files and folders inside code/

In [ ]:
list(p.iterdir())

- List all .py 􀀁les inside code/

In [ ]:
list(p.glob("*.py"))

Path objects have many more useful methods:
- creating and deleting 􀀁les/folders
- retrieving parent folders
- retrieving absolute and relative paths
- concatenating paths